body { 
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    margin-top: 50px;
}

.hidden {
    display: none;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
}

.cookies {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fortuneCookie {
    width:100px;
    height:100px;
    cursor:pointer;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: transform 0.2s;
}

.fortuneCookie:hover {
    transform: scale(1.1);
}

#fortuneMessage {
    margin-top: 30px;
    font-size: 30px;
    color: #333;
}
